DB_NAME=inception_db
DB_USER=inception_user
DB_PASSWORD=awesome_password

WP_ADMIN_USER=peufo
WP_ADMIN_PASSWORD=prout
WP_ADMIN_EMAIL=jonas.voisard@gmail.com
WP_SITE_URL=jvoisard.42.fr
WP_BASIC_USER=bob
WP_BASIC_EMAIL=bob@42.fr
WP_BASIC_PASSWORD=bonobo